include src/audio/eyeD3/*.py src/image/*.py src/video/*.py 
include src/disc/*.py src/disc/*.c src/misc/*.py
recursive-include src/audio/ *.py
include setup.py MANIFEST.in bin/mminfo
include doc/* 
recursive-include i18n  *
